# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/workspace.xml
.idea/geneStructureBasedRealignment.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.gitignore
Makefile
CMakeLists.txt
CMakeCache.txt

geneStructureBasedRealignment.cbp
geneStructureBasedRealignment

CMakeFiles/3.8.2/CompilerIdC/tmp/
CMakeFiles/3.8.2/CompilerIdCXX/tmp/
CMakeFiles/AnnotationLiftOver.dir/CXX.includecache
CMakeFiles/AnnotationLiftOver.dir/depend.internal
CMakeFiles/CMakeTmp/
